* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: black;
}

html,
body {
  width: 100%;
  height: 150vh;
}

body {
  /* background-image: linear-gradient(#bedffe, powderblue, white); */
  animation: change-bg-color 2s linear;
  animation-fill-mode: forwards;
  /* background-image: linear-gradient(#e0eafc, #cfdef3, white); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
}
/* @keyframes change-bg-color {
  0% {
    background-image: linear-gradient(white, #fffffe, white);
  }
  100% {
    background-image: linear-gradient(#e0eafc, #cfdef3, white);
  }
} */

@keyframes change-bg-color {
  0% {
    background-color: white;
  }
  100% {
    background-color: #e0eafc;
  }
}

h1,
.games-board {
  animation: fadeIn 2s ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  color: white;
  opacity: 0;
}

h1 {
  font-family: "Odibee Sans", cursive;
  font-size: 3.75rem;
  margin-bottom: 10vh;
}
.games-board {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  border-radius: 5%;
  z-index: 1;
}
.left-btn {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 2vw;
  height: 2vw;
  animation: semi-fadeIn 2s ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  color: white;
  opacity: 0;
}
.card {
  background-color: #f6f9fc;
  width: 26vw;
  height: 40vh;
  margin: 8vh 5vw;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5%;
  text-align: center;
  opacity: 0.7;
  overflow: hidden;
}

.card:nth-child(1):hover {
  border: 0.3vw solid #ff9999;
}
.card:nth-child(2):hover {
  border: 0.3vw solid #ffc25c;
}
.card:nth-child(3):hover {
  border: 0.3vw solid #99da9d;
}
.card:nth-child(4):hover {
  border: 0.3vw solid #99ffff;
}

.game-image {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width: 26vw;
  height: 28vh;
}

.game-name {
  font-family: "Odibee Sans", cursive;
  font-size: 1.5rem;
  margin: 1.5vh 0;
}
h3 {
  font-family: "Nanum Gothic Coding", monospace;
}

.star {
  position: absolute;
  filter: blur(3px);
  animation: fadeIn 2.9s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes semi-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
.scale {
  animation: scale 1s linear;
  animation-iteration-count: infinite;
}
@keyframes scale {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: none;
  }
}
.move {
  animation: move 1s linear;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(30%);
  }
  100% {
    transform: none;
  }
}
